body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: url("https://i.pinimg.com/236x/39/c7/1e/39c71e43cd06601a698edc75859dd674.jpg");
    background-size: cover; 
    background-position: center; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}

.input {
    outline: none;
    padding: 9px;
    border: 1px solid gray; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 5px;
}

.tasks {
    background-color: rgb(8, 26, 63);
    border-radius: 10%;
    width: 500px;
    min-height: 300px;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-top: 0px;
    color: blue;
}

button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: azure;
    background-color: rgb(8, 57, 191);
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin-bottom: 8px;
    border-bottom: 1px solid #444;
}

li:last-child {
    border-bottom: none;
}

.button-container {
    display: flex;
    gap: 5px;
}

.edit, .delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(227, 203, 203);
    padding: 5px;
}

.edit i {
    color: #4CAF50;
}

.delete i {
    color: #F44336;
}

.priority-low {
    color: green;
}

.priority-medium {
    color: orange;
}

.priority-high {
    color: red;
}

#priority {
    font-size: 15px; 
    padding: 3px;  
    outline: none; 
    border: 1px solid gray;
    border-radius: 5px; 
    width: 25%; 
    box-sizing: border-box; 
    margin-bottom: 6px; 
}

.done {
    text-decoration: line-through;
    color: gray;
}
